.node {
  margin: 0.75rem 0;
}

.node__main {
  display: inline-flex;
  align-items: center;
}

.node__icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

.node--visible .node__children {
  margin: 1.25rem;
  position: relative;
}

.node--folder .node__children {
  &::before {
    content: '';
    display: block;
    height: calc(100% - 0.125rem);
    // width: 1px;
    border-left: solid 1px black;
    position: absolute;
    top: -0.625rem;
    left: -0.8rem;
  }
}

.node__child {
  display: block;
}

.node--folder .node__child {
  position: relative;
  &::before {
    content: "";
    display: block;
    height: 1px;
    border-bottom: solid 1px black;
    position: absolute;
    bottom: 11px;
    left: -0.8rem;
    width: 0.5rem;
  }
}

.node--uncommitted {
  border: solid 1px black;
  display: inline-flex;
  padding: 0.5rem;
  align-items: center;
  margin-top: 0;
}

.button--black {
  background: black;
  color: white;
}

.button--white {
  background: white;
  color: black;
}

.node__hover-buttons {
  display: none;
  margin-left: 0.5rem;
}

.margin-left {
  margin-left: 0.5rem;
}

.node__main:hover {
  .node__hover-buttons {
    display: inline-flex;
  }
}
