<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1>Folder Structure Maker</h1>
</div>

<div class="content" role="main">

  <div class="folder-structure-container">
    <button class="add-button" type="button" (click)="addFolderToRoot()">Add folder to root</button>
    <!-- render root node -->
    <app-node [node]="folderService.rootNode"></app-node>
  </div>

  <div class="json-representation-container">
    <!-- display root node contents as JSON -->
    <textarea class="json-representation" [ngModel]="getJSON()" disabled></textarea>
  </div>

</div>

<router-outlet></router-outlet>
